@{
    ViewData["Title"] = "Your AI Application";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-success" asp-controller="Chat" asp-action="Index" role="button">Chat</a>
        </div>
        <div class="col">
            <a class="btn btn-danger" asp-controller="Image" asp-action="Index" role="button">Dall-E</a>
        </div>
    </div>
</div>
